<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763181616018-b6km6qu99hp7m7b4m4londrq660kc73i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763181616018-b6km6qu99hp7m7b4m4londrq660kc73i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763181616018-vnostpd0eck0plo10nvch5tcivs7rnfa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpstxw1-bNU8M4qKygTvudsvsRpsMBiN0</string>
	<key>GCM_SENDER_ID</key>
	<string>763181616018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riteserve.lando</string>
	<key>PROJECT_ID</key>
	<string>lando-4d9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>lando-4d9ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763181616018:ios:3d288149832044f4f88f4b</string>
</dict>
</plist>